/* sizing buttons */
.btn {
    width: 100%;
}

/* formating margins for left side of page */
h2, .form-control, .btn {
    margin: 5px;
}

/* formating for right side of page */
#day-forecast h3, #day-forecast p {
    margin: 5px;
}